.jumbotron {
	background-image: url(1.jpg);
	background-size: cover;
	height: 1000px;
	text-align: center;

}
.jumbotron .display-4 {
    margin-top: 200px;
    font-size: 150px;
}
.jumbotron .my-4 {
	border-color: black;
	border: none;
}
.jumbotron .lead {
	font-size: 25px;
}
.jumbotron .btn {
	border: none;
	border-radius: 25px;
}
#baris {
	text-align: center;
}
.carousel {
	width: 800px;
	height: 600px;
}
pre {
	font-size: 25px;
}
p {
	font-size: 25px;
}